# Cleaning dates in pandas

Often we encounter dates in different formats. Pandas has a helpful method called pd.to_datetime which can be good for converting dates in their string format to a datetime format. It is good to get dates in their date time format since it makes them far easier to work with. 

https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

A further resource on pd.to_datetime can be found here

https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

Lets look at a few examples of using pd.to_datetime since it could be what you need early on and do not need very customised functions. THe codes below will help us

- %Y: Four-digit year
- %y: Two-digit year
- %m: Two-digit month [01, 12]
- %d: Two-digit day [01, 31]
- %H: Hour (24-hour clock) [00, 23]
- %I: Hour (12-hour clock) [01, 12]
- %M: Two-digit minute [00, 59]
- %S: Second [00, 61]
- %f: Microsecond [000000, 999999]

This link gives us even more
https://dataindependent.com/pandas/pandas-to-datetime-string-to-date-pd-to_datetime/

In [2]:
import pandas as pd
date_1 = "01-03-18"
pd.to_datetime(date_1, format = "%d-%m-%y")

Timestamp('2018-03-01 00:00:00')

Notice if i put the format in wrong it throws an error

In [3]:
pd.to_datetime(date_1, format = "%d-%m-%Y") # this will error

ValueError: time data '01-03-18' does not match format '%d-%m-%Y' (match)

Example 2

In [ ]:
date_2 = "15/Jan/2020"
pd.to_datetime(date_2, format = "%d/%b/%Y")

Example 3

In [ ]:
date_3 = "1/March/2020"
pd.to_datetime(date_3, format = "%d/%B/%Y")

Example 4

In [ ]:
date_3 = "3rd april 1954"
pd.to_datetime(date_3, format = "%drd %B %Y")

### Real date data

Often the problem with real data is that date format comes in in a variety of formats and often in a complete mess. Below we are going to walk through a process (and by no doubt the most efficient) that I have gone through to clean some date time data. In the analysis below using pd.datetime could have simplified thi

In [4]:
import pandas as pd
from  datetime import datetime

Only Dates is a spreadhseet that has had all the other data removed and just the date columns. We are going to use this spreadsheet to explore the data in the date columns

In [5]:
xl= pd.read_excel('OnlyDates.xlsx', sheet_name = None)

sheet_names = xl.keys() 
sheet_names

dict_keys(['2021', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012'])

In [6]:
column_of_dates = []
years = []
for name in sheet_names:
    df = pd.read_excel('OnlyDates.xlsx', sheet_name = name)
    for i in range(len(df)):
        column_of_dates.append(df.values[i][0])
        years.append(int(name))

I now have two lists. One that contains a list of all the dates across the various sheets. The other is making use of the sheet name so I have a list of years that I have got from the sheet name. I will then make a dataframe from this

In [7]:
df = pd.DataFrame({'raw_date' : column_of_dates, 'year': years})
df.head()

        raw_date  year
0  12th Jan 2021  2021
1  13th Jan 2021  2021
2  13th Jan 2021  2021
3  16th Jan 2021  2021
4  23rd Jan 2021  2021

In order to get an idea of the tpyes of date formats I have I have used the sample method. CHange the number after random state to get a different sample

In [8]:
df.sample(100, random_state=4)

                 raw_date  year
588          day/month/yr  2016
896   2015-08-21 00:00:00  2015
283                   NaN  2019
162    22nd February 2019  2019
41          12th Apr 2021  2021
...                   ...   ...
1191  2013-07-10 00:00:00  2013
479   2017-03-17 00:00:00  2017
512   2017-05-23 00:00:00  2017
570   2017-09-27 00:00:00  2017
1021              23/9/14  2014

[100 rows x 2 columns]

We are now going to write a function that will capture all the date formats we have in this dataset and convert them

In [9]:
def check_date(x):
    # print(len(str(x.cleaned_date)))
    try:
        x.cleaned_date.year
        if str(x.cleaned_date.year) != 'nan':
            return True
        else:
            return False
    except:
        return False

def clean_dates(string):
    x = string.raw_date
    try:
        return pd.to_datetime(x, format = "%dth %B %Y")
    except:
        None
        
    try:
        return pd.to_datetime(x, format = "%dth %b %Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dnd %B %Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%d/%m/%y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dth %b%Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%drd %B %Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dth.%b.%Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%drd %b %Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%d.%b.%y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dth  %b.%Y ")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%d.%B %y")
    except:
        None
    try:
        return pd.to_datetime(x + '-' + str(string.year), format = "%dth %B-%Y")
    except:
        None
    try:
        return pd.to_datetime(x + '-' + str(string.year), format = "%dth %b-%Y")
    except:
        None
        
    try:
        return pd.to_datetime(x + '-' + str(string.year), format = "%dth %B-%Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dst %B %Y")
    except:
        None
    try:
        return pd.to_datetime(x + '-' + str(string.year), format = "%dth %b-%Y")
    except:
        None
    try:
        return pd.to_datetime(x + '-' + str(string.year), format = "%dnd %B -%Y")
    except:
        None
    try:
        return pd.to_datetime(x + '-' + str(string.year), format = "%dth %B -%Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%drd %B %Y  ")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dth %B %Y  ")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dth %b.%Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dnd %b.%Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%dnd %b %Y")
    except:
        None
    try:
        return pd.to_datetime(x, format = "%d-%m-%y")
    except:
        None
        
        
        
        
        



# df.iloc[174].raw_date

In [10]:
df['cleaned_date'] = df.apply(lambda x: clean_dates(x), axis = 1)
df['correct_date'] = df.apply(lambda x : check_date(x), axis = 1)
# df.iloc[0].cleaned_date.year
print(len(df[df.correct_date== False]))
df[df.correct_date== False].sample(10, random_state = 11)

78

          raw_date  year cleaned_date  correct_date
1068           (D)  2013          NaT         False
948            (D)  2014          NaT         False
1316           NaN  2012          NaT         False
63    19th 05.2021  2021          NaT         False
332     31st March  2018          NaT         False
272            NaN  2019          NaT         False
1215           (D)  2012          NaT         False
284            NaN  2019          NaT         False
700            NaN  2016          NaT         False
289            NaN  2019          NaT         False

We can keep adding to the clean dates function

## Combine to make a function

Now we have gone through how to catch most of the date formats we are going to combine our steps in one function that will take in a date column and spit out cleaned dates with a check date column to make it easy to find dates that need manual verification. So lets collect the bits of code together into one function

lets collect the functions we need first in the cell below

### Bring in a sheet with other columns to make the script more usable

In [18]:
import numpy as np
book_name = 'dummy_sheet.xlsx'
write_name = 'dummy_date_cleaned_4.xlsx'
date_column_name = "Date of injury or onset of illness"


xl= pd.read_excel(book_name, sheet_name = None)
sheet_names = xl.keys() 
sheet_names # change this if you want certain sheets excluded

dict_keys(['2021', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012'])

The cell below combines all of the transformations above and goes across all the sheets

In [19]:
# def clean_xls_dates(xls_name, xls_new_name):
writer = pd.ExcelWriter(write_name, engine='xlsxwriter')
for sheet_name in list(sheet_names):
    data = pd.read_excel('dummy_sheet.xlsx', sheet_name = sheet_name)
    try:
        result = data.applymap(lambda x: True if date_column_name in str(x) else False)
        rows_to_skip = np.where(result)[0][0]
        data = data.iloc[rows_to_skip:]
        data.rename(columns = data.iloc[0], inplace = True)
        data = data.iloc[1:]
    except:
        pass

    
    months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]
    date_series = data[date_column_name]
    year_series = [sheet_name]*len(date_series)
    df = pd.DataFrame({'raw_date':date_series, 'year': year_series})
    df['cleaned_date'] = df.apply(lambda x: clean_dates(x), axis = 1)
    df['correct_date'] = df.apply(lambda x : check_date(x), axis = 1)
    data['cleaned_date_UK'] = df.cleaned_date
    data['date_format_correct'] = df.correct_date
    # print(data[data.date_format_correct == False])

    data.to_excel(writer, sheet_name = sheet_name, index = False)
    print(sheet_name)
writer.save()

2021
2019
2018
2017
2016
2015
2014
2013
2012

At this point you should open up your new sheet in excel and manauly change the remaining ones using the date format correct column as a flag

In [ ]:
writer.close()